<section id="sobremi" class="wrapper post bg-img" data-bg="SilvaDario.jpeg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Sobre mí</h2>

      </header>
      <div class="content">
        <p>
          Soy un persona muy sociable y empática, me adapto a cualquier entorno
          laboral. Soy muy curioso, me gusta mucho aprender de los demás y más
          aún, colaborar en su aprendizaje. Aporto optimismo y energía al
          ambiente laboral, considero que nada mejor que el trabajo en equipo!<br
          />
          La magia de la programación siempre me ha cautivado; resulta asombroso cómo unas simples líneas de código pueden dar
          vida a cualquier idea.<br />
          Este asombro continúa motivándome a explorar y aplicar nuevas tecnologías. Actualmente, estoy trabajando en proyectos
          con NodeJs, Typescript y Docker para afianzar mis conocimientos. Además, sigo perfeccionándome a través de cursos en
          plataformas como Platzi, Código Facilito, EducationIt y Udemy. Mi interés creciente se centra en
          lenguajes como C# y Python, que considero poderosos y sumamente fascinantes. Recientemente, he iniciado mi capacitación
          en C#, aprendiendo sus fundamentos y preparándome para crear mi primera API.
        </p>
      </div>
      <footer>
        <a href="/about" class="button alt">Más</a>
      </footer>
    </article>
  </div>
  <a href="#tecnologias" class="more">Learn More</a>
</section>