<section id="sobremi" class="wrapper post bg-img" data-bg="SilvaDario.jpeg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Sobre mí</h2>

      </header>
      <div class="content">
        <p>
          Soy un persona muy sociable y empática, me adapto a cualquier entorno
          laboral. Soy muy curioso, me gusta mucho aprender de los demás y más
          aún, colaborar en su aprendizaje. Aporto optimismo y energía al
          ambiente laboral, considero que nada mejor que el trabajo en equipo!<br
          />
          Me encanta la magia de la programación, unas líneas de código que
          pueden hacer lo que sea, me parece fantástico.<br />
          Eso me motiva a aprender y aplicar constantemente nuevas
          tecnologías, por eso estoy realizando proyectos con
          NodeJS para profundizar un poco más las cosas vistas, aprendiendo
          Docker e implementando testing de la mano de academias como Udemy y Código Facilito. Tambien me gustaría mucho aprender
          Python y React Native, considero que son lenguajes muy poderosos y
          super interesantes!
        </p>
      </div>
      <footer>
        <a href="/about" class="button alt">Más</a>
      </footer>
    </article>
  </div>
  <a href="#tecnologias" class="more">Learn More</a>
</section>