<section id="proyectos" class="wrapper post bg-img" data-bg="tecnologias.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Proyectos<br>
        <span style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 1rem;">(En breve realizare los correspondientes deploys)</span>
        </h2>
      </header>
      <div class="content">
        
                <div class="carousel">
                    <div class="carousel__contenedor">
                        <button aria-label="Anterior" class="carousel__anterior">
                            <i class="fas fa-chevron-left"></i>
                        </button>

                        <div class="carousel__lista">

                            <div class="carousel__elemento">
                                <img style="width: 300px;" src="images/landing.png" alt="Rock and Roll Hall of Fame">
                                <p>Proyecto individual realizado en el bootcamp HENRY, se trata de una SPA, 
                                bajo stack PERN (PostgreSQL, Express, React, y Node) que consume info de la API RAWG y permite ABM de nuevos videojuegos.</p>
                                <a href="https://github.com/DarioSilva7/PI-Videogames" target="blanc" class="button alt">Repo</a>
                                <a class="button alt">App</a>
                            </div>

                            <div class="carousel__elemento">
                                <img style="width: 300px;" src="images/loadingC.png" alt="Rock and Roll Hall of Fame">
                                <p>Proyecto individual, se trata de una SPA, bajo stack PERN (PostgreSQL, Express, React, y Node) que
                                    consume info de la API REST Countries y permite ABM de nuevos paises.</p>
                                <a href="https://github.com/DarioSilva7/PI-Country" target="blanc" class="button alt">Repo</a>
                                <a class="button alt">App</a>
                            </div>

                            <div class="carousel__elemento">
                                <video width="300" height="240" muted controls>
                                    <source src="images/climaApp.mp4" type="video/mp4">
                                    Tu navegador no es compatible con videos HTML5.
                                </video>
                                <p>App de consola que permite acceder al estado del clima de ciudades, utilizando la API mapbox para tener acceso todas las cuidades y la API openweathermap para 
                                    obtener la información del clima.</p>
                            <a
                                href="https://github.com/DarioSilva7/Console-CimaApp"
                                target="blanc"
                                class="button alt"
                            >Repo</a>
                            </div>

                        </div>

                        <button aria-label="Siguiente" class="carousel__siguiente">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    
                    <div role="tablist" class="carousel__indicadores gli"></div>
                </div>
        <footer>
            <a href="/proyectos" class="button alt">Más</a>
        </footer>
      </div>

    </article>
  </div>
  <a href="#contacto" class="more">Learn More</a>
</section>