<section id="proyectos" class="wrapper post bg-img" data-bg="tecnologias.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Proyectos</h2>
      </header>
      <div class="content">
        
                <div class="carousel">
                    <div class="carousel__contenedor">
                        <button aria-label="Anterior" class="carousel__anterior">
                            <i class="fas fa-chevron-left"></i>
                        </button>

                        <div class="carousel__lista">

                            <div class="carousel__elemento">
                                <img style="width: 300px;" src="images/landing.png" alt="Rock and Roll Hall of Fame">
                                <p>Trabajé en algunos proyectos individuales realizando SPA con el
                                    stack PERN (PostgreSQL, Express, React, y Node) y MERN (MongoDB,
                                    Express, React y Node).</p>
                                <a href="https://github.com/DarioSilva7/PI-Videogames" target="blanc" class="button alt">Repo</a>
                                <a href="/#deploy" class="button alt">App</a>
                            </div>

                            <div class="carousel__elemento">
                                <img style="width: 300px;" src="images/loadingC.png" alt="Rock and Roll Hall of Fame">
                                <p>Trabajé en algunos proyectos individuales realizando SPA con el
                                    stack PERN (PostgreSQL, Express, React, y Node) y MERN (MongoDB,
                                    Express, React y Node).</p>
                                <a href="https://github.com/DarioSilva7/PI-Videogames" target="blanc" class="button alt">Repo</a>
                                <a href="/#deploy" class="button alt">App</a>
                            </div>

                            <div class="carousel__elemento">
                                <img style="width: 300px;" src="images/pg-emarket.png" alt="Rock and Roll Hall of Fame">
                                <p>Trabajé en algunos proyectos individuales realizando SPA con el
                                    stack PERN (PostgreSQL, Express, React, y Node) y MERN (MongoDB,
                                    Express, React y Node).</p>
                                <a href="https://github.com/DarioSilva7/PI-Videogames" target="blanc" class="button alt">Repo</a>
                                <a href="/#deploy" class="button alt">App</a>
                            </div>

                        </div>




                        <button aria-label="Siguiente" class="carousel__siguiente">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    
                    <div role="tablist" class="carousel__indicadores gli"></div>
                </div>
        <footer>
            <a href="/proyectos" class="button alt">Más</a>
        </footer>
      </div>

    </article>
  </div>
  <a href="#contacto" class="more">Learn More</a>
</section>