<footer id="contacto" class="wrapper post bg-img" data-bg="contactme.png">
  <div class="inner">
    <article class="box">

      <div class="content grid">
        <span><a href="https://github.com/DarioSilva7">
            <img class="imgC" src="images/github.png" /></a><br /><span><b
            >Github</b></span></span>
        <span><a href="https://www.linkedin.com/in/dario-silva7">
            <img class="imgC" src="images/linkedin.png" />
          </a>
          <br /><span><b>Linkedin</b></span>
        </span>
        <span><a href="mailto:darioemmanuelsilva@gmail.com">
            <img class="imgC" src="images/icons8-gmail-logo-48.png" />
          </a><br /><span><b>Gmail</b></span>
        </span>
        <span><a href="https://wa.me/+543364687486">
            <img class="imgC" src="images/whatsapp.png" />
          </a>
          <br /><span><b>WhatsApp</b></span>
        </span>
        <!-- Para contactarse por WhatsApp, por favor debe registrarse. Gracias -->
      </div>
    </article>
  </div>
</footer>