<header id="header">
    <div class="logo"><a style="font-size: 1.3rem;" href="index.html">{{name}} <span>FULLSTACK DEVELOPER <b> / BACKEND DEVELOPER</b></span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>