<section id="inicio" class="bg-img" data-bg="techs.jpg">
    <div class="inner">
        <header>
            <h1>Bienvenido a mi portfolio</h1>
        </header>
    </div>
    <a href="#sobremi" class="more">Learn More</a>
</section>
