<section id="proyectos" class="wrapper post bg-img" data-bg="tecnologias.jpg">
  <div class="inner">
    <article >
      <header>
        <h2>Proyectos<br>
        <span style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 1rem;">(En breve realizare los correspondientes deploys)</span>
        </h2>
      </header>
      <div class="content project">

        <div class="proj">
          <img
            style="width: 300px;"
            src="images/landing.png"
            alt="SPA Videogames"
          />
          <p>SPA, bajo stack PERN (PostgreSQL, Express, React, y Node) que consume info de la API RAWG y permite ABM de nuevos videojuegos.</p>
          <a
            href="https://github.com/DarioSilva7/PI-Videogames"
            target="blanc"
            class="button alt"
          >Repo</a>
          {{!-- <a class="button alt">App</a> --}}
        </div>

        <div class="proj">
          <img
            style="width: 300px;"
            src="images/LOGO-SOMOS-MAS.png"
            alt="ONG Somos Mas"
          />
          <p>Proyecto grupal, realizado en la aceleradora Alkemy, realizado bajo metodología scrum, tecnologías: NodeJS, Express, SequelizeCLI, Sendgrid,
             EJS, MySQL, Chai, Mocha, Docker 
            </p>
          <a
            href="https://github.com/DarioSilva7/OT125-SERVER"
            target="blanc"
            class="button alt"
          >Repo</a>

        </div>

        <div class="proj">
          <video width="300" height="240" muted controls>
            <source src="images/climaApp.mp4" type="video/mp4">
            Tu navegador no es compatible con videos HTML5.
          </video>
          <p>App de consola que permite acceder al estado del clima de ciudades, utilizando la API mapbox para tener acceso todas las cuidades y la API openweathermap para 
            obtener la información del clima.</p>
          <a
            href="https://github.com/DarioSilva7/Console-CimaApp"
            target="blanc"
            class="button alt"
          >Repo</a>
        </div>

        <div class="proj">
          <img
            style="width: 300px;"
            src="images/contactList.png"
            alt="Contact List"
          />
          <p>App de agenda de contactos, permitiendo ABM de los mismos. Tecnologías: NodeJS, Express, HBS, Firebase.</p>
          <a
            href="https://github.com/DarioSilva7/contactList-Firebase-Node"
            target="blanc"
            class="button alt"
          >Repo</a>
          {{!-- <a href="https://contact-list-j4d8.onrender.com/contacts" class="button alt">App</a> --}}
        </div>

        <div class="proj">
          <img
            style="width: 300px;"
            src="images/loadingC.png"
            alt="SPA Country"
          />
          <p>SPA, bajo stack PERN (PostgreSQL, Express, React, y Node) que consume info de la API REST Countries y permite ABM de nuevos paises.</p>
          <a
            href="https://github.com/DarioSilva7/PI-Country"
            target="blanc"
            class="button alt"
          >Repo</a>
          {{!-- <a class="button alt">App</a> --}}
        </div>
 
        <div class="proj">
          <img
            style="width: 300px;"
            src="images/SN-Profile.png"
            alt="Sn-challenge"
          />
<div>
            <p>App bajo stack PostgreSQL, Express, React, Node y Docker. Sistema de registro, login, sesiones, roles, rutas
              protegidas.</p>
            <a href="https://github.com/DarioSilva7/desafio-sn" target="blanc" class="button alt">Repo</a>
</div>
          {{!-- <a class="button alt">App</a> --}}
        </div>


      </div>
      <footer>
        <ul class="actions">
          <li>
            <a href="/#proyectos" class="button alt icon fa-chevron-left"><span
                class="label"
              >Previous</span></a>
          </li>
        </ul>
      </footer>
    </article>
  </div>

</section>