<section id="proyectos" class="wrapper post bg-img" data-bg="tecnologias.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Proyectos</h2>
      </header>
      <div class="content project">
        <div>
          <img
            style="width: 300px;"
            src="images/landing.png"
            alt="Rock and Roll Hall of Fame"
          />
          <p>Trabajé en algunos proyectos individuales realizando SPA con el
            stack PERN (PostgreSQL, Express, React, y Node) y MERN (MongoDB,
            Express, React y Node).</p>
          <a
            href="https://github.com/DarioSilva7/PI-Videogames"
            target="blanc"
            class="button alt"
          >Repo</a>
          <a href="/#deploy" class="button alt">App</a>
        </div>

        <div>
          <img
            style="width: 300px;"
            src="images/loadingC.png"
            alt="Rock and Roll Hall of Fame"
          />
          <p>Trabajé en algunos proyectos individuales realizando SPA con el
            stack PERN (PostgreSQL, Express, React, y Node) y MERN (MongoDB,
            Express, React y Node).</p>
          <a
            href="https://github.com/DarioSilva7/PI-Videogames"
            target="blanc"
            class="button alt"
          >Repo</a>
          <a href="/#deploy" class="button alt">App</a>
        </div>

        <div>
          <img
            style="width: 300px;"
            src="images/landing.png"
            alt="Rock and Roll Hall of Fame"
          />
          <p>Trabajé en algunos proyectos individuales realizando SPA con el
            stack PERN (PostgreSQL, Express, React, y Node) y MERN (MongoDB,
            Express, React y Node).</p>
          <a
            href="https://github.com/DarioSilva7/PI-Videogames"
            target="blanc"
            class="button alt"
          >Repo</a>
          <a href="/#deploy" class="button alt">App</a>
        </div>

      </div>
      <footer>
        <ul class="actions">
          <li>
            <a href="/#proyectos" class="button alt icon fa-chevron-left"><span
                class="label"
              >Previous</span></a>
          </li>
        </ul>
      </footer>
    </article>
  </div>

</section>