<section id="proyectos" class="wrapper post bg-img" data-bg="tecnologias.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Proyectos</h2>
      </header>
      <div class="content project">
        
        <div>
          <img src="./images/landing.png" alt="Image not found" /><br /><span><b
            >PI Videogames</b></span>
          <p>Trabajé en algunos proyectos individuales realizando SPA con el
            stack PERN (PostgreSQL, Express, React, y Node) y MERN (MongoDB,
            Express, React y Node).</p>
          <a href="https://github.com/DarioSilva7/PI-Videogames" target="blanc" class="button alt">Repo</a>
          <a href="/#deploy" class="button alt">App</a>
        </div>
{{!-- 
        <div><img src="./images/docker.png" alt="Image not found" /><br /><span
          ><b>Docker</b></span>
          <p>Participé en un proyecto grupal (mediante SCRUM) utilizando el
            stack MERN, con el que aprobamos el bootcamp en HENRY, se trababa de
            un e-market.</p>
          <a href="/proyectos" class="button alt">Repo</a>
          <a href="/proyectos" class="button alt">App</a>
        </div>

        <div><img src="./images/jest.png" alt="Image not found" /><br /><span><b
            >Jest</b></span>
          <p>Participé de una aceleracion en NodeJS en Alkemy, trabajamos en
            equipo durante 6 semanas bajo metodología SCRUM, realizamos un
            proyecto para una ONG.</p>
          <a href="/proyectos" class="button alt">Repo</a>
          <a href="/proyectos" class="button alt">App</a>
        </div> --}}
      </div>

    </article>
  </div>
  <a href="#contacto" class="more">Learn More</a>
</section>