<section id="tecnologias" class="wrapper post bg-img" data-bg="tecnologias.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Tecnologías</h2>
      </header>
      <div>

        <div class="content grid">
          <div>
            <picture>
              <source srcset="./images/js.webp" type="image/webp">
              <img src="./images/js.webp" alt="image not found" /><br /><span><b>Javascript</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/ts.webp" type="image/webp">
              <img src="./images/ts.webp" alt="TS" /><br /><span><b>Typescript</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/react.webp" type="image/webp">
              <img src="./images/react.webp" alt="image not found" /><br /><span><b>React</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/redux.webp" type="image/webp">
              <img src="./images/redux.webp" alt="image not found" /><br /><span><b>Redux</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/nodejs.webp" type="image/webp">
              <img src="./images/nodejs.webp" alt="image not found" /><br /><span><b>NodeJS</b></span>
            </picture>
          </div>
          <div style="display: grid; align-items:end; justify-content:center">
            <picture>
              <source srcset="./images/express.webp" type="image/webp">
              <img src="./images/express.webp" alt="image not found" /><br /><span><b>Express</b></span>
            </picture>
          </div>
          <div style="display: grid; align-items:end; justify-content:center">
            <img src="./images/nestjs.webp" alt="image not found" /><br /><span><b>Nest</b></span>
          </div>
          <div>
            <img src="./images/swagger.webp" alt="image not found" /><br /><span><b>Swagger</b></span>
          </div>
          <div>
            <picture>
              <source srcset="./images/psql.webp" type="image/webp">
              <img src="./images/psql.webp" alt="image not found" /><br /><span><b>PostgreSQL</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/mysql.webp" type="image/webp">
              <img src="./images/mysql.webp" alt="image not found" /><br /><span><b>MySQL</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/seq.webp" type="image/webp">
              <img src="./images/seq.webp" alt="image not found" /><br /><span><b>Sequelize</b></span>
            </picture>
          </div>
          <div style="display: grid; align-items:end; justify-content:center">
            <picture>
              <source srcset="./images/typeorm.webp" type="image/webp">
              <img src="./images/typeorm.webp" alt="image not found" /><br /><span><b>Typeorm</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/mongo.webp" type="image/webp">
              <img src="./images/mongo.webp" alt="image not found" /><br /><span><b>MongoDB</b></span>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="./images/docker.webp" type="image/webp">
              <img src="./images/docker.webp" alt="Image not found" /><br /><span><b>
                  Docker</b></span>
            </picture>
          </div>
        </div>
        <header>
          <h2>Aprendiendo</h2>
        </header>
        <div class="content project">
          <div><img src="./images/jest.webp" alt="Image not found" /><br /><span><b>Jest</b></span></div>
          <div><img src="./images/csharp.webp" alt="Image not found" /><br /><span><b>C#</b></span></div>
          <div><img src="https://codershire.com/wp-content/uploads/2019/01/net1.png"
              alt="Image not found" /><br /><span><b>.NET</b></span></div>
        </div>

      </div>
    </article>
  </div>
  <a href="#proyectos" class="more">Learn More</a>
</section>