<section id="tecnologias" class="wrapper post bg-img" data-bg="tecnologias.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Tecnologías</h2>
      </header>
      <div>

        <div class="content grid">
          <div>
            <img src="./images/js.png" alt="image not found" /><br /><span><b>Javascript</b></span>
          </div>
          <div>
            <img src="./images/ts.png" alt="TS" /><span><br /><b>Typescript</b></span>
          </div>
          <div>
            <img src="./images/react.png" alt="image not found" /><br /><span><b>React</b></span>
          </div>
          <div>
            <img src="./images/redux.png" alt="image not found" /><br /><span><b>Redux</b></span>
          </div>
          <div>
            <img src="./images/nodejs.png" alt="image not found" /><br /><span><b>NodeJS</b></span>
          </div>
          <div style="display: grid; align-items:end; justify-content:center">
            <img src="./images/express.webp" alt="image not found" /><span><b>Express</b></span>
          </div>
          <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Swagger-logo.png" alt="image not found" /><br /><span><b>Swagger</b></span>
          </div>
          <div>
            <img src="./images/psql.png" alt="image not found" /><br /><span><b>PostgreSQL</b></span>
          </div>
          <div>
            <img src="./images/seq.png" alt="image not found" /><br /><span><b>Sequelize</b></span>
          </div>
          <div>
            <img src="./images/mysql.png" alt="image not found" /><br /><span><b>MySQL</b></span>
          </div>
          <div>
            <img src="./images/mongo.png" alt="image not found" /><br /><span><b>MongoDB</b></span>
          </div>
          <div>
            <img src="./images/docker.png" alt="Image not found" /><br /><span><b>
                Docker</b></span>
          </div>
        </div>
        <header>
          <h2>Aprendiendo</h2>
        </header>
        <div class="content project">
          <div><img src="./images/jest.png" alt="Image not found" /><br /><span><b>Jest</b></span></div>
          <div><img src="./images/csharp.png" alt="Image not found" /><br /><span><b>C#</b></span></div>
          <div><img src="https://codershire.com/wp-content/uploads/2019/01/net1.png" alt="Image not found" /><br /><span><b>.NET</b></span></div>
        </div>

      </div>
    </article>
  </div>
  <a href="#proyectos" class="more">Learn More</a>
</section>