<!DOCTYPE html>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/2e9f8726da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="subpage">
    <!-- Header -->
    {{> header}}

    <!-- Nav -->
    {{> nav}}

    <!-- Content -->

    <section id="post" class="wrapper bg-img" >
      <div class="inner">
        <article class="box">
          <header>
            <h2 class="bienvenido" >Sobre mí</h2>
          </header>
          <div class="content">
            <p>
              Soy originario de San Nicolas de los Arroyos, Provincia de Buenos Aires.<br/>
              Desde temprana edad, he sentido una fascinación por la tecnología. Tras finalizar mis estudios secundarios en 2006, decidí seguir mi pasión inscribiéndome en la Tecnicatura Universitaria en Programación en la UTN-FRSN.
Sin embargo, debido a limitaciones económicas, tuve que interrumpir mis estudios y emprendí una nueva etapa como chofer
en el móvil de consultas de una empresa de emergencias médicas. Durante este período participé en capacitaciones que ampliaron mis habilidades y me permitieron cubrir no solo cubrí consultas, sino también urgencias y emergencias.
	    Posteriormente, gracias a HENRY, tuve la oportunidad
              de reencotrarme con mi verdadera pasión: la programación. Me enfrenté al desafiante bootcamp (Altamente recomendado!) donde me formé como
              Desarrollador Web Fullstack con Javascript. Durante el programa, trabajé con React y Node, adquirí destrezas en el uso de Git y GitHub, y aplicamos metodologías ágiles como Scrum.
              Además, fortalecí mis habilidades interpersonales al desempeñarme como Teaching Assistant, brindando apoyo y orientación
              a los nuevos estudiantes durante todo su proceso educativo.
            </p>

            <p>
            Soy una persona sociable y empática, capaz de adaptarme a diferentes entornos laborales. Mi curiosidad innata me impulsa
            a aprender constantemente de los demás y a contribuir al desarrollo de sus habilidades. Aporto optimismo y energía al
            ambiente laboral, ya que creo firmemente en el poder del trabajo en equipo.<br />
              La magia de la programación siempre me ha cautivado; resulta asombroso cómo unas simples líneas de código pueden dar
              vida a cualquier idea.
    Este asombro continúa motivándome a explorar y aplicar nuevas tecnologías. Actualmente, estoy trabajando en proyectos con NodeJs, Typescript y Docker para afianzar mis conocimientos. Además, sigo perfeccionándome a través de cursos en plataformas como Platzi, Código Facilito, EducationIt y Udemy. Mi interés creciente se centra en
    lenguajes como C# y Python, que considero poderosos y sumamente fascinantes. Recientemente, he iniciado mi capacitación
    en C#, aprendiendo sus fundamentos y preparándome para crear mi primera API.
            </p>

            <p>
				<b>
          Estoy en la búsqueda de mi realización como desarrollador, aspirando a dar un giro significativo a mi vida. Como
          mencioné previamente, siempre he sentido un profundo interés por la tecnología, y estoy comprometido a brindar lo mejor
          de mí en esta nueva etapa. ¡Vengo con una actitud positiva y entusiasta, dispuesto a dar mi máximo esfuerzo!
				</b>
            </p>
			
          </div>
          <footer>
            <ul class="actions">
              <li>
                <a href="/" class="button alt icon fa-chevron-left"
                  ><span class="label">Previous</span></a
                >
              </li>
            </ul>
          </footer>
        </article>
      </div>
    </section>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.min.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>
