<!DOCTYPE html>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/2e9f8726da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="subpage">
    <!-- Header -->
    {{> header}}

    <!-- Nav -->
    {{> nav}}

    <!-- Content -->

    <section id="post" class="wrapper bg-img" >
      <div class="inner">
        <article class="box">
          <header>
            <h2 class="bienvenido" >Sobre mí</h2>
          </header>
          <div class="content">
            <p>
              Soy de San Nicolas de los Arroyos, Provincia de Buenos Aires.
              Desde siempre me gustó e interesó la tecnología, cuando finalicé
              los estudios secundarios (en el año 2006) comencé a cursar la
              Tecnicatura Universitaria en Programación en la UTN-FRSN, pero
              debido a cuestiones económicas debí pausar los estudios y comenzar
              a trabajar. En la actualidad, gracias a HENRY, tuve la oportunidad
              de retomar el contacto con lo que siempre me gustó, la
              programación. Me encontré con el gran e intenso desafío del
              bootcamp (Super recomendable!) en el cual me formé como
              Desarrollador Web Fullstack Javascript y hoy me encuentro en
              búsqueda de mi primer empleo IT.
            </p>

            <p>
              Soy un persona muy sociable y empática, me adapto a cualquier
              entorno laboral. Soy muy curioso, me gusta mucho aprender de los
              demás y más aún, colaborar en su aprendizaje. Aporto optimismo y
              energía al ambiente laboral, considero que nada mejor que el
              trabajo en equipo!<br />
              Me encanta la magia de la programación, unas líneas de código que
              pueden hacer lo que sea, me parece fantástico.<br />
              Eso me motiva a aprender y aplicar constantemente nuevas
              tecnologías, por eso estoy realizando algunos proyectos con
              NodeJS para profundizar un poco más las cosas vistas, aprendiendo
              Docker e implementando testing de la mano de academias como Udemy y codigo facilito. Tambien me gustaría mucho aprender
              Python y React Native, considero que son lenguajes muy poderosos y
              super interesantes!
            </p>

            <p>
				<b>
					Busco realizarme como desarrollador y poder dar un giro a mi vida, como mencioné, desde siempre me interesó la tecnología 
          y vengo con toda la mejor onda a dar mi máximo!.
				</b>
            </p>
			
          </div>
          <footer>
            <ul class="actions">
              <li>
                <a href="/" class="button alt icon fa-chevron-left"
                  ><span class="label">Previous</span></a
                >
              </li>
            </ul>
          </footer>
        </article>
      </div>
    </section>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
